        *{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
	box-sizing: border-box;
}
        body{
        	background-image: url('hani.png');
        	width:50%;
        	margin:30px auto;
        	line-height: 30px;
        	font-size: 20px;
        }
        form{
        	border:solid;
        	padding:10px;
        	border-radius: 10px;
        }
        pre{
        	text-align: center;
        	color:rgb(20, 0, 100, 1.0);
        	font-size: 17px;
        	padding:10px;
        }
       a:hover,a:active{
	        background-color:yellow;
	        cursor: pointer;
       }
       a:link,a:visited{
       	color:green;
       }
       span{
       	text-align: center;
       	font-size: 20px;
       	color:rgb(200, 0, 100, 1.0);
       }
       #data{
       	font-size: 20px;
       	color:rgb(20, 0, 100, 1.0);
       	text-align: center;
       }
       .in{
       	padding:10px;
       	margin:10px;
       	border-radius: 5px;
       	width:70%;
       	font-size: 20px;
        background-color: rgb(128, 128, 128, 0.7);
        color:white;
       }
       h1{
       	text-align: center;
       	color: orange;
       }
       #click{
       	text-align: center;
       }
       #click input{
       	padding:10px;
       	margin:10px;
       background-color: rgb(128, 128, 128, 0.7);
        color:white;
       	cursor: pointer;
       	border-radius: 5px;
       	color: white;
       	font-size: 15px;
       }
